$primary-color: #5cb85c;
$primary-color-hover: #449d44;
$color-base-black: rgb(0,0,0) ;
$color-light:lighten($color-base-black, 54%);
$color-dark:lighten($color-base-black, 15%);
$color-white: rgb(255,255,255);
$border-color-light: rgba(0,0,0,0.06);

//Font Family

$font-famiy: 'Work Sans', sans-serif;



