<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="top-navbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hide" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-star"></i> Project Name <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><i class="fa fa-bell-o"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Whats New <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Report & Analytics </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Report & Analytics </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Adam Hill <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Report & Analytics </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn"><button type="submit" class="btn btn-default"><i
                                    class="fa fa-search"></i></button></span>
                        </div>

                    </div>

                </form>
                <div class="">
                    <div class="clearfix"></div>
                    <ul class="nav navbar-nav">
                        <li class="hidden-xs">

                            <a id="menu-toggle1" href="#" class=" btn-menu toggle">
                                <i class="fa fa-bars"></i>
                            </a>

                        </li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Project Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div id="wrapper" class="h-100p">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">

                <li>
                    <a href="#anch1" data-scroll class="font14">
                        <span class="fa fa-folder font12"></span> My Work
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll class="font14">
                        <span class="fa fa-plus font12"></span> Add Story
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll class="font14">
                        <span class="fa fa-list font12"></span> Current/backlog
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll class="font14">
                        <span class="fa fa-archive font12"></span> Icebox
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a href="#anch4" data-scroll class="font14">
                        <span class="fa fa-check font12"></span> Done
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll class="font14">
                        <span class="fa fa-tag font12"></span> Label
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll class="font14">
                        <span class="fa fa-clock-o font12"></span> Project History
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper" class="h-100p">
        <div class="content-header visible-xs">
            <div id="home">
                <a id="menu-toggle2" href="#" class=" btn-menu toggle">
                    <i class="fa fa-bars"></i> MENU
                </a>
            </div>
        </div>

        <div class="page-content h-100p" data-spy="scroll" data-target="#spy">
            <div class="h-scrollable container-fluid h-100p">
                <div class="row h-100p">
                    <div class="col-xs-3 h-100p plr-0">
                        <div class="panel panel-default panel-main h-100p mb0">
                            <div class="panel-heading">
                                <h3 class="panel-title font14">
                                    My Work
                                <span class="panel-action-btn pull-right">
                                    <div class="btn-group">
                                        <a href="" class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-rt">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>

                                        </ul>
                                    </div>

                                </span>
                                </h3>
                            </div>
                            <div class="panel-body mb0">
                                <ul class="list-group droptrue mb0 h-100p">
                                    <li class="list-group-item font12"><a href="#">Home Page Design</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-3 h-100p plr-0">
                        <div class="panel panel-default panel-main h-100p mb0">
                            <div class="panel-heading">
                                <h3 class="panel-title font14">
                                    Add Work
                                <span class="panel-action-btn pull-right">
                                    <div class="btn-group">
                                        <a href="" class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-rt">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>

                                        </ul>
                                    </div>

                                </span>
                                </h3>
                            </div>

                            <div class="panel-body mb0">

                                <ul class="list-group droptrue mb0 h-100p">

                                    <li class="list-group-item font12 ">

                                        <div class="panel-group mb0" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default board-panel-common">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Project Title
                                                        </a>

                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                                    <div class="panel-body board-panel-body-common">
                                                        <!--Form Editable-->
                                                        <form class="board-form-common form-editable">
                                                            <div class="form-group">
                                                                <label for="project_title" class="font-300">Title</label>
                                                                <input type="text" class="form-control input-sm" id="project_title" placeholder="Project Title">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="project_description" class="font-300">Description</label>
                                                                <textarea class="form-control input-sm" id="project_description" placeholder="Description" row="4"></textarea>
                                                            </div>



                                                            <button type="submit" class="btn btn-default btn-success btn-xs ml0 mt5 mb5">Submit</button>
                                                        </form>
                                                        <!--/Form Editable-->

                                                        <!--Form Non-Editable-->
                                                        <div class="board-form-common form-non-editable">
                                                            <div class="form-group">
                                                                <label for="project_title" class="font-600">Title</label>
                                                                <div class="description">User Login Page</div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="project_title" class="font-600">Description</label>
                                                                <div class="description">
                                                                    As a best practice, we highly recommend using the button element whenever possible to ensure matching cross-browser rendering.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/Form Non-Editable-->

                                                        <div class="project-info-box">
                                                            <ul class="list-group">


                                                                <li class="list-group-item">
                                                                    Story Type <span class="pull-right">
                                                                        <select class="form-control selectpicker">
                                                                            <option data-icon="fa-star font11">Feature</option>
                                                                            <option data-icon="fa-bug font11">Bug</option>
                                                                            <option data-icon="fa-cog font11">Chore</option>
                                                                            <option data-icon="fa-flag-checkered font11">Release</option>

                                                                        </select>
                                                                </span>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    Points <span class="pull-right">
                                                                        <select class="form-control selectpicker">
                                                                            <option>2 Points</option>
                                                                            <option>5 Points</option>
                                                                            <option>15 Points</option>
                                                                            <option>12 Points</option>

                                                                        </select>
                                                                </span>
                                                                </li>

                                                                <li class="list-group-item">
                                                                    Timer <span class="pull-right">
                                                                        <a href="" class="btn btn-primary btn-xs btn-action-box mr5">Start</a>
                                                                    <select class="form-control selectpicker">
                                                                        <option>Started</option>
                                                                        <option>Unstarted</option>
                                                                        <option>Finished</option>
                                                                        <option>Delivered</option>
                                                                        <option>Accepted</option>
                                                                        <option>Rejected</option>

                                                                    </select>
                                                                </span>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>







                    </div>

                </div>

            </div>


        </div>

    </div>

</div>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery-ui.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/bootstrap-select.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

<!--
Timer snippet
<div class="timer-main pull-right">
         <button type="button"
                  class="endbutton_{{$projectTask->project_task_id}} timer_button"
                                                            value="Pause"
                                         onclick="endlogIn({{$projectTask->project_task_id}});">

                                </button>
  <span class="time_duration stopwatch">{{$cal['totalTimeTaking']}}</span>
<div>
-->