<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

<div class="login-wrapper">
    <div class="login-box">
        <div class="login-widget">

            <div class="header-container">
                <h1 class="widget-header text-center">Sign in</h1>
            </div>
            <form>
                <div class="form-group">
                    <input class="input" type="text" id="email">
                    <label class="floating-label" for="email">Email</label>
                </div>
                <div class="form-group">
                    <input class="input" type="password" id="password" >
                    <label class="floating-label" for="password">Password</label>
                </div>
                <div class="form-group login-controls">
                    <input id="checkbox-1" class="checkbox" name="checkbox-1" type="checkbox">
                    <label for="checkbox-1" class="label">Keep me signed in</label>
                    <a class="forgot-password" href="#">Forgot password?</a>
                </div>
                <div class="form-group">
                    <button type="submit"  class="btn-outline-primary btn-block mt20">Sign In</button>
                </div>
            </form>
            <div class="login-signup font12">
                  New Visitor? <a href="" class="btn-link">Sign Up Now</a>
            </div>
        </div>

    </div>
</div>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery-ui.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>