<!--@yield('content')-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content=" width = device - width , initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <title>Project Management</title>
</head>
<body style = "font-family: Arial, sans-serif; margin:0; padding:0; ">

<!--Status color: Not started: #A7A7A7; Pending: #FED94E; In Progress: #00AFFB; Completed: #00C760; Cancelled: #FF2343-->
<table border = "0"  cellpadding = "0" cellspacing = "0" width="600" align = "center" style = " border-collapse : collapse;  padding: 10px 10px 10px 10px; background-color: #fff;">
    <tr>
        <td align="center"  style = " padding: 0;">
            <table border ="0" cellpadding ="0" cellspacing ="0" width="100%" style="background-color: #f9f9f9;">
                <tr align="center">
                    <td colspan="2" style="padding: 15px 10px 15px 10px; background-color: #439fe0; color: #f7f7f7; font-weight: bold">
                    CODELEE
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 15px 10px 15px; width: 100%;" align="center">
                    <p style="text-align: left; font-size: 12px; margin: 0; color: #999999; font-weight: bold;" >
                      Projects Summary:
                    </p>
                    </td>

                </tr>

                <tr>
                    <td style="padding: 0px 15px 0px 15px; width: 100%;" align="center">
                        <table style="border-collapse: collapse; background-color: #fff; margin-bottom: 15px; border: 1px solid #efefef;" width="100%" cellpadding="10" cellspacing="0" border="0" >
                            <tr>
                                <td style="font-size: 12px; background-color: #e8e8e8; color: #333333; font-weight: bold;">1. Project Management</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin-top:0; margin-bottom: 8px; font-size: 12px; color: #888888;">Members Detail List</p>

                                    <!--Members Section-->
                                    <table style="border-collapse: collapse; font-size: 12px; border-radius: 5px; margin-top: 10px; background-color: #f5f5f5;" cellspacing="0" cellpadding="10" width="100%" border="0">
                                        <tr style="border-bottom: 1px solid #e5e5e5; color: #555555; font-size: 12px;">
                                            <td colspan="2" style="font-weight: bold;">Amarjit Singh</td>
                                            <td width="20%" align="right" style="font-weight: bold;">06:00:00</td>
                                        </tr>
                                        <tr style="color: #888888;">
                                            <td>Login Form Functionality</td><!--Task Name-->
                                            <td width="25%" align="right"><span style="display: inline-block; background-color: #00AFFB; color: #ffffff; border-radius: 25px; padding: 1px 8px; font-size: 10px;">In Progress</span></td><!--Status-->
                                            <td align="right">03:00:00</td><!--Time Taken-->
                                        </tr>
                                        <tr style="color: #888888;">
                                            <td>Email Notification</td><!--Task Name-->
                                            <td width="25%" align="right"><span style="display: inline-block; background-color: #00C760; color: #ffffff; border-radius: 25px; padding: 1px 8px; font-size: 10px;">Completed</span></td><!--Status-->
                                            <td align="right">03:00:00</td><!--Time Taken-->
                                        </tr>
                                    </table>
                                    <!--Members Section End-->


                                </td>
                            </tr>
                        </table>


                    </td>

                </tr>

            </table>


            <!--Footer section-->
            <table border ="0" cellpadding ="0" cellspacing ="0" width="100%" align = "center" style = "color: #999999; border-collapse : collapse; font-size: 12px;">
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="1" bgcolor="#dddddd" colspan="2"></td>
                </tr>
                <tr>
                    <td align="center">
                        <p>Powered By: Codelee. All rights reserved</p>
                       <!-- <p>
                            <a style="color: #00b3ee;" href="#">Terms</a> |
                            <a style="color: #00b3ee;" href="#">Privacy</a>

                        </p>-->
                    </td>
                </tr>
                </tbody>


            </table>
        </td>
    </tr>
</table>
</body>
</html>
