<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Management</title>

    <!-- Styles -->

    <link rel="stylesheet" href="assets/css/style.css"/>


</head>
<body>
<div id="app" class="top-navbar layout-login-dashboard">

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand visible-xs" href="http://localhost/project_management/public">
                    Project Management </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav hidden-xs">
                    <li>
                        <a href="dashboard">
                            Project Management
                        </a>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="login-wrapper">
    <div class="login-box">
        <div class="login-widget">

            <div class="header-container">
                <h1 class="widget-header text-center">Sign in</h1>
            </div>
            <form class="form-horizontal" role="form" method="POST" action="login">
                <input type="hidden" name="_token" value="oqaj2GODLUkbM1o1So4c9oVKlqYdl0nHG76OZTfm">

                <div class="form-group">
                    <input id="email" type="email" class="input" name="email" value=""
                           required autofocus>

                    <label class="floating-label" for="email">Email</label>
                </div>
                <div class="form-group">
                    <input class="input" type="password" id="password" name="password" required>

                    <label class="floating-label" for="password">Password</label>
                </div>


                <div class="form-group login-controls">
                    <input id="checkbox-1" class="checkbox" name="checkbox-1" type="checkbox">
                    <label for="checkbox-1" class="label">Keep me signed in</label>
                    <a class="forgot-password" href="password/reset">Forgot password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-outline-primary btn-block mt10">Sign In</button>
                </div>
            </form>
            <div class="login-signup font12">
                New Visitor? <a href="register" class="btn-link">Sign Up Now</a>
            </div>
        </div>

    </div>
</div>


<!-- Scripts -->
<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/jquery-ui.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/bootstrap-select.min.js"></script>
<script src="assets/js/vendor/autosize.js"></script>
<script src="assets/js/vendor/progressbar.js"></script>
<script src="assets/js/vendor/toast.js"></script>
<script src="assets/js/main.js"></script>


</body>
</html>