<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Management</title>

    <!-- Styles -->

    <link rel="stylesheet" href="assets/css/style.css"/>


</head>
<body>
<div id="app" class="top-navbar layout-login-dashboard">

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand visible-xs" href="http://localhost/project_management/public">
                    Project Management </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav hidden-xs">
                    <li>
                        <a href="dashboard">
                            Project Management </a>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Amarjit <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <a href="logout"
                                   onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                    Logout
                                </a>

                                <form id="logout-form" action="logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_token" value="f71eMpSm6WLY2TdnvVABBCbywPDesGEBeEyttzcC">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="dashboard-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="dashboard-main">
                        <span class="title font16">
                            DASHBOARD - Admin
                        </span>
                        <span class="pull-right">
                            <a href="projects/create" class="btn btn-success btn-create-project btn-xs">Create New
                                Project</a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container alert-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="padding0">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">


        <div class="panel-body">

            <div class="row mb25">

                <div class="clearfix"></div>
                <form method="POST" action="projects" accept-charset="UTF-8" class="form"><input name="_token" type="hidden" value="f71eMpSm6WLY2TdnvVABBCbywPDesGEBeEyttzcC">
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="project_title" class="control-label">Project Name</label>
                            <input class="form-control" placeholder="Project name" name="name" type="text" value="">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="invite_as_admin" class="control-label">Invite users as Admin</label>
                            <input class="form-control" placeholder="Write email separated by comma" name="adminEmail" type="text" value="">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="invite_as_admin" class="control-label">Invite user as Users</label>
                            <input class="form-control" placeholder="Write email separated by comma" name="UserEmail" type="text" value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-default btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>




        </div>
    </div>
</div>


<!-- Scripts -->
<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/jquery-ui.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/bootstrap-select.min.js"></script>
<script src="assets/js/vendor/autosize.js"></script>
<script src="assets/js/vendor/progressbar.js"></script>
<script src="assets/js/vendor/toast.js"></script>
<script src="assets/js/main.js"></script>


</body>
</html>